.div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

.img{
    margin-top: auto;
    margin-bottom: auto;
    max-height: 70%;
    width: auto;
}